@font-face {
	font-family: SF Fedora;
	src: url('../../../public/fonts/SF%20Fedora.ttf');
	font-style: italic;
}

@font-face {
	font-family: SF Fedora titles;
	src: url('../../../public/fonts/SF%20Fedora%20Titles%20Italic.ttf');
	font-style: normal;
}
