.swiper-container {
	display: flex;
	height: 75vh;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	& > .title {
		margin-top: 25px;
		margin-bottom: 25px;
		font-size: 3em;
		font-family: $fonts_title;
		color: lighten($alert, 15);
	}
	& > .mySwiper {
		height: 45em;
		width: 45em;
		& > .swiper-button-prev {
			background-color: transparent;
			color: $secondary;
		}
		& > .swiper-button-next {
			background-color: transparent;
			color: $secondary;
		}
	}
}

.container-swiper-img {
	& > .swiper-img {
		position: relative;
		height: 88%;
		width: 100%;
		object-fit: fill;
	}
	& > .view-links {
		display: flex;
		justify-content: space-around;
		height: 35px;
		& > .link {
			display: flex;
			height: 100%;
			width: 100%;
			margin-left: 3px;
			margin-right: 3px;
			align-items: center;
			justify-content: center;
			background-color: lighten($primary, 15);
			color: $secondary;
			border-radius: 3px;
		}
	}
}
