.label {
	display: flex;
	flex-direction: column;
	color: $secondary;
}

.input {
	border: $primary solid 3px;
	height: 3em;
	outline: none;
	background-color: lighten($primary, 65);
	resize: none;
	color: $alert;
}
