.navbar {
	background-color: lighten($primary, 8%);
	font-size: 18px;
	font-weight: 100;
	width: 100%;
}

.navbar__navbar-list {
	background-color: lighten($primary, 8);
	list-style: none;
	display: flex;
	justify-content: space-around;
}

.navbar__list-item {
	background-color: lighten($primary, 8);
}

.navbar__link {
	color: $secondary;
	background-color: lighten($primary, 8);
	text-decoration: none;
	&:hover {
		color: darken($secondary, 45);
		text-decoration: underline;
	}
}
